@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --warning: 39 100% 50%;
    --warning-foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 209 63% 9%;
    --foreground: 210 40% 98%;
    --card: 209 60% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 209 63% 9%;
    --popover-foreground: 210 40% 98%;
    --primary: 181 100% 74%;
    --primary-foreground: 209 63% 9%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 111 100% 52%;
    --accent-foreground: 209 63% 9%;
    --destructive: 2 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --warning: 39 100% 50%;
    --warning-foreground: 0 0% 3.9%;
    --border: 217 33% 20%;
    --input: 217 33% 20%;
    --ring: 181 100% 74%;
    --chart-1: 181 100% 74%;
    --chart-2: 39 100% 50%;
    --chart-3: 2 100% 50%;
    --chart-4: 111 100% 52%;
    --chart-5: 210 40% 98%;
    --sidebar-background: 209 63% 9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 181 100% 74%;
    --sidebar-primary-foreground: 209 63% 9%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 181 100% 74%;
    --sidebar-border: 217 33% 20%;
    --sidebar-ring: 181 100% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
